Config/node-red/flows.json
[{"id":"2e4ff29838ddb769","type":"tab","label":"Свет по расписанию","disabled":false,"info":"","env":[]},{"id":"6e810a6a658a1f9b","type":"tab","label":"Свет коридор","disabled":false,"info":"","env":[]},{"id":"0478b4ce3817e57f","type":"tab","label":"Учебный 1","disabled":false,"info":""},{"id":"15dcd2a0b8e46f0b","type":"tab","label":"Свет на кухне - кнопка","disabled":false,"info":"","env":[]},{"id":"9fd454223db09303","type":"tab","label":"Кухня свет - датчик","disabled":false,"info":""},{"id":"e407f635ecaf33f5","type":"tab","label":"Термостаты","disabled":false,"info":"","env":[]},{"id":"165542174aae1c3a","type":"tab","label":"4 кнопки Aqara","disabled":false,"info":"","env":[]},{"id":"a66089d46f7835a7","type":"tab","label":"IKEA DIMMER","disabled":false,"info":"","env":[]},{"id":"115b0fd9bc8dfd7a","type":"tab","label":"Выключатель Алина","disabled":false,"info":"","env":[]},{"id":"fb065fae9080dd60","type":"tab","label":"Поток 1","disabled":false,"info":"","env":[]},{"id":"e1e4a0a8.6cd66","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"86ddd0453d5372c5","type":"mqtt-broker","name":"Connection 1","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b86b6e28606cafbc","type":"server-state-changed","z":"2e4ff29838ddb769","name":"Door Sersonr","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0xbc33acfffeff081e_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":260,"wires":[[]]},{"id":"eb5a55d19d32887d","type":"switch","z":"2e4ff29838ddb769","name":"Включен или выключен","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":490,"y":240,"wires":[["295e69dd60efaa82"],["59fc99d65a81e382"]]},{"id":"295e69dd60efaa82","type":"api-current-state","z":"2e4ff29838ddb769","name":"Лампа за столом","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0x00158d00042a8849","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1070,"y":220,"wires":[["114208299b0a3c8d"],[]]},{"id":"114208299b0a3c8d","type":"api-call-service","z":"2e4ff29838ddb769","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0x00158d00042a8849"],"data":"{\"brightness\": 50}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1350,"y":200,"wires":[["52e7f16a6e6f5c86"]]},{"id":"59fc99d65a81e382","type":"trigger","z":"2e4ff29838ddb769","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"45","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":810,"y":300,"wires":[["bf2c531add1aca38"]]},{"id":"bf2c531add1aca38","type":"api-current-state","z":"2e4ff29838ddb769","name":"Лампа за столом","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0x00158d00042a8849","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1070,"y":340,"wires":[["340b4f6c7182a821"],[]]},{"id":"340b4f6c7182a821","type":"api-call-service","z":"2e4ff29838ddb769","name":"Выключено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.0x00158d00042a8849"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1350,"y":340,"wires":[[]]},{"id":"2a71e6cd09545296","type":"debug","z":"2e4ff29838ddb769","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":320,"wires":[]},{"id":"b94f72efa4cb5dd4","type":"time-range-switch","z":"2e4ff29838ddb769","name":"Active Time","lat":"","lon":"","startTime":"19:00","endTime":"19:30","startOffset":0,"endOffset":0,"x":770,"y":160,"wires":[[],[]]},{"id":"52e7f16a6e6f5c86","type":"debug","z":"2e4ff29838ddb769","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1350,"y":120,"wires":[]},{"id":"b5c212013d4b0776","type":"server-state-changed","z":"2e4ff29838ddb769","name":"Датчик Движения ТЕСТ","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d0006beabd6_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":380,"wires":[["2a71e6cd09545296","64dde79c3507600a","555a5a7302e578fe"]]},{"id":"05dbd4f22ce8105b","type":"api-current-state","z":"2e4ff29838ddb769","name":"Лампа за столом","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0x00158d00042a8849","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1070,"y":300,"wires":[["c415906fd8e57af6"],[]]},{"id":"c415906fd8e57af6","type":"api-call-service","z":"2e4ff29838ddb769","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0x00158d00042a8849"],"data":"{\"brightness\": 255}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1350,"y":300,"wires":[[]]},{"id":"4a8c4f2f28309d09","type":"server-events","z":"2e4ff29838ddb769","name":"выавыа","server":"e1e4a0a8.6cd66","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"event_type":"0x00158d0006beabd6","x":100,"y":480,"wires":[[]]},{"id":"400c5fe050eb0d41","type":"api-current-state","z":"2e4ff29838ddb769","name":"есть движение ? ","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.0x00158d0006beabd6_occupancy","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":830,"y":480,"wires":[["088ea7141d3e2e7f","2a71e6cd09545296"],[]]},{"id":"7989a1e9cdd54b3d","type":"ha-wait-until","z":"2e4ff29838ddb769","name":"","server":"e1e4a0a8.6cd66","version":1,"outputs":1,"entityId":"binary_sensor.0x00158d0006beabd6_occupancy","entityIdFilterType":"exact","property":"","comparator":"is","value":"off","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"entityLocation":"data","entityLocationType":"none","x":520,"y":820,"wires":[[]]},{"id":"088ea7141d3e2e7f","type":"api-current-state","z":"2e4ff29838ddb769","name":"свет e27? ","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0x00158d00042a8849","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1130,"y":500,"wires":[["1a432f428fa16704"],[]]},{"id":"1a432f428fa16704","type":"api-call-service","z":"2e4ff29838ddb769","name":"Включить e27","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.0x00158d00042a8849"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":500,"wires":[[]]},{"id":"d5fcd0117978325e","type":"inject","z":"2e4ff29838ddb769","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":250,"y":580,"wires":[["555a5a7302e578fe"]]},{"id":"a568b9ea9ad97128","type":"inject","z":"2e4ff29838ddb769","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":270,"y":480,"wires":[["64dde79c3507600a"]]},{"id":"555a5a7302e578fe","type":"api-current-state","z":"2e4ff29838ddb769","name":"свет e27? ","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0x00158d00042a8849","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1130,"y":640,"wires":[["295a0b5642b878d1"],[]]},{"id":"295a0b5642b878d1","type":"api-call-service","z":"2e4ff29838ddb769","name":"Включить e27","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0x00158d00042a8849"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":640,"wires":[[]]},{"id":"64dde79c3507600a","type":"trigger","z":"2e4ff29838ddb769","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"15","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":600,"y":540,"wires":[["400c5fe050eb0d41"]]},{"id":"d991dd5227b80490","type":"server-state-changed","z":"2e4ff29838ddb769","name":"Датчик Движения ТЕСТ2222","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0xa4c1383b16167f0c_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":200,"y":720,"wires":[["5eb18a95e778702b"]]},{"id":"5eb18a95e778702b","type":"debug","z":"2e4ff29838ddb769","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":720,"wires":[]},{"id":"1a92aed9d0f56b2d","type":"switch","z":"6e810a6a658a1f9b","name":"Включен или выключен","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":630,"y":340,"wires":[["ec8c482f6b1d6f59"],["c84311c385202b10"]]},{"id":"a12b2a6b1fd611a5","type":"api-current-state","z":"6e810a6a658a1f9b","name":"свет коридор?","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.0x00158d00035b002f","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1380,"y":100,"wires":[["4bee735680fdec1f"],[]]},{"id":"4bee735680fdec1f","type":"api-call-service","z":"6e810a6a658a1f9b","name":"Включить коридор","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.0x00158d00035b002f"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1640,"y":100,"wires":[[]]},{"id":"1cde9797ef9274ef","type":"trigger","z":"6e810a6a658a1f9b","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"45","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":930,"y":580,"wires":[["fe4a9bd4315215c7"]]},{"id":"501fefbc11cac289","type":"api-current-state","z":"6e810a6a658a1f9b","name":"свет коридор?","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.0x00158d00035b002f","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1720,"y":460,"wires":[["b6c23fcadee8fb39"],[]]},{"id":"b6c23fcadee8fb39","type":"api-call-service","z":"6e810a6a658a1f9b","name":"Выключить коридор","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.0x00158d00035b002f"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1960,"y":460,"wires":[[]]},{"id":"c108e82a9c8e5bba","type":"time-range-switch","z":"6e810a6a658a1f9b","name":"Active Time","lat":"","lon":"","startTime":"8:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":1110,"y":220,"wires":[["a12b2a6b1fd611a5"],["514bd5dd0297e6da"]]},{"id":"105a6d26f003c016","type":"inject","z":"6e810a6a658a1f9b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":120,"y":300,"wires":[["1a92aed9d0f56b2d"]]},{"id":"7f30af17c32be631","type":"inject","z":"6e810a6a658a1f9b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":130,"y":240,"wires":[["1a92aed9d0f56b2d"]]},{"id":"151347bdcaccfb5f","type":"api-current-state","z":"6e810a6a658a1f9b","name":"свет e27? ","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0x00158d00042a8849","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1370,"y":200,"wires":[["dca464dda8e62e93"],[]]},{"id":"dca464dda8e62e93","type":"api-call-service","z":"6e810a6a658a1f9b","name":"Включить e27","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0x00158d00042a8849"],"data":"{\"brightness\": 140}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1640,"y":200,"wires":[[]]},{"id":"1dc95fe53d3c7ee5","type":"api-current-state","z":"6e810a6a658a1f9b","name":"свет e27? ","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0x00158d00042a8849","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1270,"y":600,"wires":[["93f92179681b31e1"],[]]},{"id":"93f92179681b31e1","type":"api-call-service","z":"6e810a6a658a1f9b","name":"Выключить e27","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.0x00158d00042a8849"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1500,"y":600,"wires":[[]]},{"id":"c84311c385202b10","type":"trigger","z":"6e810a6a658a1f9b","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"10","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":940,"y":440,"wires":[["f75ee0d9308afc8b"]]},{"id":"1d84a8346199ab4d","type":"server-state-changed","z":"6e810a6a658a1f9b","name":"Датчик Движения Ванная","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.datchik_vanna_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":500,"wires":[["1a92aed9d0f56b2d"]]},{"id":"7a70b15059dec6f7","type":"time-range-switch","z":"6e810a6a658a1f9b","name":"Active Time","lat":"","lon":"","startTime":"22:30","endTime":"08:00","startOffset":0,"endOffset":0,"x":750,"y":480,"wires":[["1cde9797ef9274ef"],[]]},{"id":"0b22ccc12950e22b","type":"server-state-changed","z":"6e810a6a658a1f9b","name":"Датчик шкаф","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d0006d3eb64_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":400,"wires":[["1a92aed9d0f56b2d"]]},{"id":"f75ee0d9308afc8b","type":"api-current-state","z":"6e810a6a658a1f9b","name":"есть движение вход ","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.0x00158d0006d3eb64_occupancy","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1180,"y":400,"wires":[["8def54b1d4f5d954"],[]]},{"id":"fe4a9bd4315215c7","type":"api-current-state","z":"6e810a6a658a1f9b","name":"NighLight","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.0x00158d0001dc6090","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1240,"y":680,"wires":[["590a54badb25338b"],[]]},{"id":"514bd5dd0297e6da","type":"api-current-state","z":"6e810a6a658a1f9b","name":"NighLight","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.0x00158d0001dc6090","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1380,"y":260,"wires":[["701fca7d88949ae8"],[]]},{"id":"590a54badb25338b","type":"api-call-service","z":"6e810a6a658a1f9b","name":"Выключить NighLight","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.0x00158d0001dc6090"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1500,"y":680,"wires":[[]]},{"id":"701fca7d88949ae8","type":"api-call-service","z":"6e810a6a658a1f9b","name":"Включить NighLight","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.0x00158d0001dc6090"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1660,"y":260,"wires":[[]]},{"id":"94abdc7e78c476a6","type":"debug","z":"6e810a6a658a1f9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":180,"wires":[]},{"id":"ec8c482f6b1d6f59","type":"api-current-state","z":"6e810a6a658a1f9b","name":"светло в коридоре?","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"45","halt_if_type":"num","halt_if_compare":"lte","entity_id":"sensor.datchik_vanna_illuminance_lux","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":900,"y":260,"wires":[["c108e82a9c8e5bba","94abdc7e78c476a6"],[]]},{"id":"8def54b1d4f5d954","type":"api-current-state","z":"6e810a6a658a1f9b","name":"есть движение ванная","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.datchik_vanna_occupancy","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1470,"y":400,"wires":[["501fefbc11cac289"],[]]},{"id":"f1d8c378c0aed81c","type":"server-state-changed","z":"0478b4ce3817e57f","name":"Door Sersonr","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0xbc33acfffeff081e_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":300,"wires":[["c2bc81b27bc10e5e"]]},{"id":"1f8b978af9cf2eda","type":"switch","z":"0478b4ce3817e57f","name":"Включен или выключен","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":470,"y":320,"wires":[["3e7b30c36dfb2498"],["e7496adcfda1fa9c"]]},{"id":"3e7b30c36dfb2498","type":"api-current-state","z":"0478b4ce3817e57f","name":"Лампа за столом","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.0x04cf8cdf3c7711a7","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":890,"y":340,"wires":[["6d8372a617718d54"],[]]},{"id":"6d8372a617718d54","type":"api-call-service","z":"0478b4ce3817e57f","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.0x04cf8cdf3c7711a7"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":320,"wires":[[]]},{"id":"e7496adcfda1fa9c","type":"trigger","z":"0478b4ce3817e57f","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"15","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":610,"y":440,"wires":[["264c766705f7642d"]]},{"id":"264c766705f7642d","type":"api-current-state","z":"0478b4ce3817e57f","name":"Лампа за столом","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.0x04cf8cdf3c7711a7","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":890,"y":460,"wires":[["ef3424d07060e6bc"],[]]},{"id":"ef3424d07060e6bc","type":"api-call-service","z":"0478b4ce3817e57f","name":"Выключено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.0x04cf8cdf3c7711a7"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":440,"wires":[[]]},{"id":"c2bc81b27bc10e5e","type":"debug","z":"0478b4ce3817e57f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":200,"wires":[]},{"id":"e372fb12da760e29","type":"time-range-switch","z":"0478b4ce3817e57f","name":"","lat":"","lon":"","startTime":"07:28","endTime":"goldenHour","startOffset":0,"endOffset":0,"x":320,"y":540,"wires":[[],[]]},{"id":"e369850615988fb4","type":"server-state-changed","z":"15dcd2a0b8e46f0b","name":"AQARA click","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0002d44998_click","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":300,"wires":[["a9ba43e4928aa4a2","5b08806aa6daa6fd"]]},{"id":"5b08806aa6daa6fd","type":"switch","z":"15dcd2a0b8e46f0b","name":"Включен или выключен","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":520,"y":320,"wires":[["dbef3e0d95239cce"],["63a731b18a49b524"]]},{"id":"dbef3e0d95239cce","type":"api-current-state","z":"15dcd2a0b8e46f0b","name":"Свет на кухне","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0xd0cf5efffebaac4b","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1140,"y":260,"wires":[["ee1accd9a18d715e"],[]]},{"id":"ee1accd9a18d715e","type":"api-call-service","z":"15dcd2a0b8e46f0b","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffebaac4b"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1370,"y":260,"wires":[[]]},{"id":"a9ba43e4928aa4a2","type":"debug","z":"15dcd2a0b8e46f0b","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":200,"wires":[]},{"id":"63a731b18a49b524","type":"api-current-state","z":"15dcd2a0b8e46f0b","name":"Свет на кухне","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0xd0cf5efffebaac4b","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1180,"y":460,"wires":[["a667f831db8f97eb"],[]]},{"id":"a667f831db8f97eb","type":"api-call-service","z":"15dcd2a0b8e46f0b","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffebaac4b"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1410,"y":460,"wires":[[]]},{"id":"ef8fb718aa86a5de","type":"server-state-changed","z":"15dcd2a0b8e46f0b","name":"AQARA click","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x00158d0002d44998_click","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":640,"wires":[["bf5de49f76b2449a"]]},{"id":"bf5de49f76b2449a","type":"switch","z":"15dcd2a0b8e46f0b","name":"Включен или выключен","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":510,"y":640,"wires":[["d2cfeb37eddbdc48"],["67cf6593ceb8dca1"]]},{"id":"d2cfeb37eddbdc48","type":"api-current-state","z":"15dcd2a0b8e46f0b","name":"Свет на кухне","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0xd0cf5efffecb09a8","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1180,"y":600,"wires":[["db3ccd559a88431b"],[]]},{"id":"db3ccd559a88431b","type":"api-call-service","z":"15dcd2a0b8e46f0b","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffecb09a8"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1410,"y":620,"wires":[[]]},{"id":"67cf6593ceb8dca1","type":"api-current-state","z":"15dcd2a0b8e46f0b","name":"Свет на кухне","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0xd0cf5efffecb09a8","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1180,"y":840,"wires":[["7d23782191fac716"],[]]},{"id":"7d23782191fac716","type":"api-call-service","z":"15dcd2a0b8e46f0b","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffecb09a8"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1410,"y":840,"wires":[[]]},{"id":"c6becd0b01d0a902","type":"server-state-changed","z":"9fd454223db09303","name":"AQARA Sensor","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0xa4c1383b16167f0c_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":100,"wires":[["146fcd91a87bedab","7f4079da1c25ab01"]]},{"id":"7f4079da1c25ab01","type":"switch","z":"9fd454223db09303","name":"Включен или выключен","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":480,"y":180,"wires":[["4eb58595d621963a"],["a4c402d00e500d45"]]},{"id":"509c3c263e05867e","type":"api-current-state","z":"9fd454223db09303","name":"Свет на кухне","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0xd0cf5efffecb09a8","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1060,"y":80,"wires":[["d54d966e331f1412"],[]]},{"id":"d54d966e331f1412","type":"api-call-service","z":"9fd454223db09303","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffecb09a8"],"data":"{\"brightness\": 255}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":60,"wires":[[]]},{"id":"146fcd91a87bedab","type":"debug","z":"9fd454223db09303","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":60,"wires":[]},{"id":"83cf6dfdfd01c2a6","type":"api-current-state","z":"9fd454223db09303","name":"Свет на кухне","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0xd0cf5efffecb09a8","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1060,"y":160,"wires":[["0e2deaded1931265"],[]]},{"id":"0e2deaded1931265","type":"api-call-service","z":"9fd454223db09303","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffebaac4b"],"data":"{\"brightness\": 255}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":140,"wires":[[]]},{"id":"d60791e93e180194","type":"switch","z":"9fd454223db09303","name":"Включен или выключен","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":1190,"y":420,"wires":[["6087f427c32748d5","c6c512d93fb129f8"]]},{"id":"6087f427c32748d5","type":"api-current-state","z":"9fd454223db09303","name":"Свет на кухне","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0xd0cf5efffecb09a8","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1500,"y":380,"wires":[["565abd3b0e3cc346"],[]]},{"id":"565abd3b0e3cc346","type":"api-call-service","z":"9fd454223db09303","name":"OFF","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffecb09a8"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1710,"y":380,"wires":[[]]},{"id":"c6c512d93fb129f8","type":"api-current-state","z":"9fd454223db09303","name":"Свет на кухне","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0xd0cf5efffecb09a8","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1500,"y":480,"wires":[["45467a18b7e8bbc6"],[]]},{"id":"45467a18b7e8bbc6","type":"api-call-service","z":"9fd454223db09303","name":"OFF","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffebaac4b"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1710,"y":480,"wires":[[]]},{"id":"0d588024d8525138","type":"api-current-state","z":"9fd454223db09303","name":"Датчик статус","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.0xa4c1383b16167f0c_occupancy","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":920,"y":400,"wires":[["d60791e93e180194"],[]]},{"id":"4eb58595d621963a","type":"time-range-switch","z":"9fd454223db09303","name":"Active Time","lat":"","lon":"","startTime":"8:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":750,"y":160,"wires":[["509c3c263e05867e","83cf6dfdfd01c2a6"],[]]},{"id":"c8c5837df90c164f","type":"api-current-state","z":"9fd454223db09303","name":"Свет на кухне","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0xd0cf5efffecb09a8","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1040,"y":240,"wires":[["939a133212a94075"],[]]},{"id":"939a133212a94075","type":"api-call-service","z":"9fd454223db09303","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffecb09a8"],"data":"{\"brightness\": 100}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1270,"y":220,"wires":[[]]},{"id":"419d649ef7086e7d","type":"api-current-state","z":"9fd454223db09303","name":"Свет на кухне","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0xd0cf5efffecb09a8","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1040,"y":320,"wires":[["976d50b27e8d6e3b"],[]]},{"id":"976d50b27e8d6e3b","type":"api-call-service","z":"9fd454223db09303","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffebaac4b"],"data":"{\"brightness\": 100}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":300,"wires":[[]]},{"id":"69cb19452fc262ae","type":"inject","z":"9fd454223db09303","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":190,"y":280,"wires":[["7f4079da1c25ab01"]]},{"id":"7179b143486df839","type":"inject","z":"9fd454223db09303","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":200,"y":220,"wires":[["7f4079da1c25ab01"]]},{"id":"a4c402d00e500d45","type":"trigger","z":"9fd454223db09303","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"15","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":760,"y":320,"wires":[["0d588024d8525138","146fcd91a87bedab"]]},{"id":"01bf7c0d23899b18","type":"server-state-changed","z":"9fd454223db09303","name":"AQARA Sensor","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0xa4c1383b16167f0c","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":400,"wires":[["d0a074da6070521c"]]},{"id":"d0a074da6070521c","type":"switch","z":"9fd454223db09303","name":"Включен или выключен","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":390,"y":400,"wires":[[],[]]},{"id":"44755fe6ab511db0","type":"server-state-changed","z":"e407f635ecaf33f5","name":"Тремостат Гостинная","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x60a423fffe3c8f99_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":240,"y":200,"wires":[["97fb86b8f291f4b0"]]},{"id":"97fb86b8f291f4b0","type":"switch","z":"e407f635ecaf33f5","name":"Включен или выключен","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":550,"y":200,"wires":[["48d0674f64106975"],[]]},{"id":"48d0674f64106975","type":"api-current-state","z":"e407f635ecaf33f5","name":"Термостат выключен","server":"e1e4a0a8.6cd66","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.0x2c1165fffe7437b0","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":180,"wires":[["cec37c2aa3a18470","9c3e20ea6dc84eb3"]]},{"id":"cec37c2aa3a18470","type":"api-call-service","z":"e407f635ecaf33f5","name":"Выключить","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"climate","service":"turn_off","areaId":[],"deviceId":[],"entityId":["climate.0x2c1165fffe7437b0"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1150,"y":160,"wires":[[]]},{"id":"9c3e20ea6dc84eb3","type":"debug","z":"e407f635ecaf33f5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":60,"wires":[]},{"id":"02488116f353d9b0","type":"api-current-state","z":"e407f635ecaf33f5","name":"Термостат выключен","server":"e1e4a0a8.6cd66","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.0x60a423fffea3a583","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":900,"y":260,"wires":[["d81f73477e7008e1"]]},{"id":"d81f73477e7008e1","type":"api-call-service","z":"e407f635ecaf33f5","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"climate","service":"set_preset_mode","areaId":[],"deviceId":[],"entityId":["climate.0x60a423fffea3a583"],"data":"schedule","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1150,"y":260,"wires":[["9d60658342cbac14"]]},{"id":"d6b1f5e473345656","type":"server-state-changed","z":"e407f635ecaf33f5","name":"Термостат Спальня","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x60a423fffe3d40d8_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":480,"wires":[["f2bb22ea30f0f282"]]},{"id":"f2bb22ea30f0f282","type":"switch","z":"e407f635ecaf33f5","name":"Включен или выключен","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":550,"y":480,"wires":[["4a04badd5eda7f01"],["79a4fe0dfb301b53"]]},{"id":"4a04badd5eda7f01","type":"api-current-state","z":"e407f635ecaf33f5","name":"Термостат выключен","server":"e1e4a0a8.6cd66","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.0x804b50fffe250c73","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":460,"wires":[["f70891ebde3346e3","ff92d8caeb32acbc"]]},{"id":"f70891ebde3346e3","type":"api-call-service","z":"e407f635ecaf33f5","name":"Выключить","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"climate","service":"turn_off","areaId":[],"deviceId":[],"entityId":["climate.0x804b50fffe250c73"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1150,"y":440,"wires":[[]]},{"id":"ff92d8caeb32acbc","type":"debug","z":"e407f635ecaf33f5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":360,"wires":[]},{"id":"79a4fe0dfb301b53","type":"api-current-state","z":"e407f635ecaf33f5","name":"Термостат выключен","server":"e1e4a0a8.6cd66","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.0x60a423fffea3a583","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":900,"y":540,"wires":[["706091e42c0e396d","ff92d8caeb32acbc"]]},{"id":"706091e42c0e396d","type":"api-call-service","z":"e407f635ecaf33f5","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.0x60a423fffea3a583"],"data":"{temperature: 20}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1150,"y":540,"wires":[[]]},{"id":"cf3f4ab7777c9567","type":"server-state-changed","z":"e407f635ecaf33f5","name":"Термостат Кухня","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x60a423fffe3729d3_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":250,"y":800,"wires":[["721cc44b47194b98"]]},{"id":"721cc44b47194b98","type":"switch","z":"e407f635ecaf33f5","name":"Включен или выключен","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":800,"wires":[["a65f823a6a4aec6d"],[]]},{"id":"a65f823a6a4aec6d","type":"api-current-state","z":"e407f635ecaf33f5","name":"Термостат выключен","server":"e1e4a0a8.6cd66","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.0x847127fffe110add","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":880,"y":780,"wires":[["80dc41e8bb338347","bf995215f2c97765"]]},{"id":"80dc41e8bb338347","type":"api-call-service","z":"e407f635ecaf33f5","name":"Выключить","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"climate","service":"turn_off","areaId":[],"deviceId":[],"entityId":["climate.0x847127fffe110add"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":760,"wires":[[]]},{"id":"bf995215f2c97765","type":"debug","z":"e407f635ecaf33f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":680,"wires":[]},{"id":"fcae7191ab0b8784","type":"api-current-state","z":"e407f635ecaf33f5","name":"Термостат выключен","server":"e1e4a0a8.6cd66","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.0x60a423fffea3a583","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":920,"y":860,"wires":[["da74c99613b8a102"]]},{"id":"da74c99613b8a102","type":"api-call-service","z":"e407f635ecaf33f5","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.0x60a423fffea3a583"],"data":"5","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":860,"wires":[[]]},{"id":"9d60658342cbac14","type":"api-call-service","z":"e407f635ecaf33f5","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.0x60a423fffea3a583"],"data":"21","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1370,"y":260,"wires":[[]]},{"id":"06e27645a033fc38","type":"server-state-changed","z":"e407f635ecaf33f5","name":"Термостат Алина Кабинет","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0xbc33acfffeff081e_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":1060,"wires":[["dff187da219749f1"]]},{"id":"dff187da219749f1","type":"switch","z":"e407f635ecaf33f5","name":"Включен или выключен","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":1060,"wires":[["6f9cf7d16c0c758a"],[]]},{"id":"6f9cf7d16c0c758a","type":"api-current-state","z":"e407f635ecaf33f5","name":"Термостат выключен","server":"e1e4a0a8.6cd66","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"climate.0x60a423fffea3a583","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":880,"y":1040,"wires":[["7abc50e3a8f1ab5a","bb6b39f3263d99c8"]]},{"id":"7abc50e3a8f1ab5a","type":"api-call-service","z":"e407f635ecaf33f5","name":"Выключить","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"climate","service":"turn_off","areaId":[],"deviceId":[],"entityId":["climate.0x60a423fffea3a583"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1170,"y":1020,"wires":[[]]},{"id":"bb6b39f3263d99c8","type":"debug","z":"e407f635ecaf33f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":940,"wires":[]},{"id":"68949370ba65b001","type":"server-state-changed","z":"165542174aae1c3a","name":"","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x04cf8cdf3c7c0ca4_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":320,"y":220,"wires":[["fa5a875d3d6de373","eb3d4db479997da4"]]},{"id":"fa5a875d3d6de373","type":"debug","z":"165542174aae1c3a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":500,"wires":[]},{"id":"eaaa01c2f420dd81","type":"api-current-state","z":"165542174aae1c3a","name":"свет коридор?","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.0x00158d00035b002f","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1180,"y":120,"wires":[["92c1ef574c760ac8"],[]]},{"id":"92c1ef574c760ac8","type":"api-call-service","z":"165542174aae1c3a","name":"ON коридор","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.0x00158d00035b002f"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1410,"y":120,"wires":[[]]},{"id":"867f38161a789d18","type":"switch","z":"165542174aae1c3a","name":"Включен или выключен","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":410,"y":760,"wires":[[],[]]},{"id":"1583a9cde4b2e191","type":"api-current-state","z":"165542174aae1c3a","name":"свет коридор?","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.0x00158d00035b002f","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1200,"y":240,"wires":[["ad6227c0218c46bd"],[]]},{"id":"ad6227c0218c46bd","type":"api-call-service","z":"165542174aae1c3a","name":"OFF коридор","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.0x00158d00035b002f"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1440,"y":240,"wires":[[]]},{"id":"eb3d4db479997da4","type":"switch","z":"165542174aae1c3a","name":"Что нажато","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"button_1_single","vt":"str"},{"t":"eq","v":"button_1_double","vt":"str"},{"t":"eq","v":"button_2_single","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":750,"y":220,"wires":[["eaaa01c2f420dd81","1583a9cde4b2e191"],["0edd861967df0887","b87c6b2d7c1bde25","721875cf398f1b3c","c73ee112474d5851"],["230b464ff31cd13c","4bad615a4dc75fb1"]]},{"id":"0edd861967df0887","type":"api-current-state","z":"165542174aae1c3a","name":"Свет на кухне","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0xd0cf5efffebaac4b","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1200,"y":380,"wires":[["b354fd55b5295073"],[]]},{"id":"b354fd55b5295073","type":"api-call-service","z":"165542174aae1c3a","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffebaac4b"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1430,"y":360,"wires":[[]]},{"id":"b87c6b2d7c1bde25","type":"api-current-state","z":"165542174aae1c3a","name":"Свет на кухне","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0xd0cf5efffebaac4b","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1200,"y":420,"wires":[["51242febeb42abae"],[]]},{"id":"51242febeb42abae","type":"api-call-service","z":"165542174aae1c3a","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffebaac4b"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1430,"y":400,"wires":[[]]},{"id":"721875cf398f1b3c","type":"api-current-state","z":"165542174aae1c3a","name":"Свет на кухне","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0xd0cf5efffecb09a8","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1200,"y":540,"wires":[["297eca7505d92a38"],[]]},{"id":"297eca7505d92a38","type":"api-call-service","z":"165542174aae1c3a","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffecb09a8"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1430,"y":520,"wires":[[]]},{"id":"c73ee112474d5851","type":"api-current-state","z":"165542174aae1c3a","name":"Свет на кухне","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0xd0cf5efffecb09a8","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1200,"y":580,"wires":[["72bdf8fd743e1e13"],[]]},{"id":"72bdf8fd743e1e13","type":"api-call-service","z":"165542174aae1c3a","name":"Включено","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffecb09a8"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1430,"y":560,"wires":[[]]},{"id":"230b464ff31cd13c","type":"api-current-state","z":"165542174aae1c3a","name":"Свет Алина","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0x00158d00042493b6","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1170,"y":760,"wires":[["760efeac98b82c26"],[]]},{"id":"760efeac98b82c26","type":"api-call-service","z":"165542174aae1c3a","name":"ON свет","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0x00158d00042493b6"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":760,"wires":[[]]},{"id":"4bad615a4dc75fb1","type":"api-current-state","z":"165542174aae1c3a","name":"свет коридор?","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0x00158d00042493b6","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1200,"y":880,"wires":[["28f059fcd11a1726"],[]]},{"id":"28f059fcd11a1726","type":"api-call-service","z":"165542174aae1c3a","name":"OFF свет","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.0x00158d00042493b6"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1420,"y":880,"wires":[[]]},{"id":"02a6d7c0e36e50fe","type":"server-state-changed","z":"a66089d46f7835a7","name":"DIM1","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.0x000b57fffe8c2db6_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":240,"wires":[["a41456c5dc04eec9","2070e9e4924b7dc6"]]},{"id":"a41456c5dc04eec9","type":"debug","z":"a66089d46f7835a7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":400,"wires":[]},{"id":"2070e9e4924b7dc6","type":"switch","z":"a66089d46f7835a7","name":"Включен или выключен","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":220,"wires":[["56b1e1d0025cd82a","868686f3d2a0fb8b"],["6fc51595777bfdcf","1075aa2622268b06"]]},{"id":"6fc51595777bfdcf","type":"api-call-service","z":"a66089d46f7835a7","name":"Включено 100%","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffecb09a8"],"data":"{\"brightness\": 255}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":400,"wires":[[]]},{"id":"1075aa2622268b06","type":"api-call-service","z":"a66089d46f7835a7","name":"Включено 100%","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffebaac4b"],"data":"{\"brightness\": 255}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":480,"wires":[[]]},{"id":"56b1e1d0025cd82a","type":"api-call-service","z":"a66089d46f7835a7","name":"Включено 30%","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffecb09a8"],"data":"{\"brightness\": 100}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1160,"y":120,"wires":[[]]},{"id":"868686f3d2a0fb8b","type":"api-call-service","z":"a66089d46f7835a7","name":"Включено 30%","server":"e1e4a0a8.6cd66","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0xd0cf5efffebaac4b"],"data":"{\"brightness\": 100}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":200,"wires":[[]]},{"id":"299054eec54a776c","type":"server-state-changed","z":"115b0fd9bc8dfd7a","name":"","server":"e1e4a0a8.6cd66","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.vykliuchatel_alina_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":260,"y":260,"wires":[["b898d14092b09bf6","4cb8df6e3361309e"]]},{"id":"b898d14092b09bf6","type":"debug","z":"115b0fd9bc8dfd7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":540,"wires":[]},{"id":"1b584add893092ee","type":"api-current-state","z":"115b0fd9bc8dfd7a","name":"свет коридор?","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.0x00158d00035b002f","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1130,"y":160,"wires":[["e74e3968399d90c1"],[]]},{"id":"e74e3968399d90c1","type":"api-call-service","z":"115b0fd9bc8dfd7a","name":"ON коридор","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.0x00158d00035b002f"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":160,"wires":[[]]},{"id":"de0af1daa0f5a82c","type":"api-current-state","z":"115b0fd9bc8dfd7a","name":"свет коридор?","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.0x00158d00035b002f","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1150,"y":280,"wires":[["e9e129fefb3641c6"],[]]},{"id":"e9e129fefb3641c6","type":"api-call-service","z":"115b0fd9bc8dfd7a","name":"OFF коридор","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.0x00158d00035b002f"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1390,"y":280,"wires":[[]]},{"id":"4cb8df6e3361309e","type":"switch","z":"115b0fd9bc8dfd7a","name":"Что нажато","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single_left","vt":"str"},{"t":"eq","v":"single_right","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":700,"y":260,"wires":[["1b584add893092ee","de0af1daa0f5a82c"],["138a7577695f9ee6","dc2ba7283ed36e63"]]},{"id":"138a7577695f9ee6","type":"api-current-state","z":"115b0fd9bc8dfd7a","name":"Свет Алина","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0x00158d00042493b6","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1120,"y":800,"wires":[["8c36e3dafd170914"],[]]},{"id":"8c36e3dafd170914","type":"api-call-service","z":"115b0fd9bc8dfd7a","name":"ON свет","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.0x00158d00042493b6"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1350,"y":800,"wires":[[]]},{"id":"dc2ba7283ed36e63","type":"api-current-state","z":"115b0fd9bc8dfd7a","name":"свет коридор?","server":"e1e4a0a8.6cd66","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.0x00158d00042493b6","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1150,"y":920,"wires":[["4bb6c1d987194d68"],[]]},{"id":"4bb6c1d987194d68","type":"api-call-service","z":"115b0fd9bc8dfd7a","name":"OFF свет","server":"e1e4a0a8.6cd66","version":5,"debugenabled":true,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.0x00158d00042493b6"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1370,"y":920,"wires":[[]]}]